<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= data.name %>|LinkedIn</title>
    <link rel="shortcut icon" href="https://images.rawpixel.com/image_png_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjk4Mi1kNS0xMF8xLnBuZw.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <div class="container">
        <div class="search">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrIbiofxGclX20CWBDtpmjOcbbuqEJS6PrSQ&s" alt="logo" id="linkedLogo">
            <div class="box">
                <i class="fa-solid fa-magnifying-glass sea-btn" style="color: #31353a;"></i>
                <input type="text" placeholder="Search" id="search">
            </div>
        </div>
        <div class="small-container">
            <div class="head1">
                <i class="fa-solid fa-house network" "></i>
                <p class="head">Home</p>
            </div>
            <div class="head1">
                <img src="https://www.shareicon.net/data/2017/05/24/886418_network_512x512.png" alt="image" class="network">
                <p class="head">My Network</p>
            </div>
            <div class="head1">
                <i class="fa-solid fa-suitcase network"></i>
                <p class="head">Jobs</p>
            </div>
            <div class="head1">
               <img src="https://cdn-icons-png.freepik.com/256/150/150427.png?semt=ais_hybrid" alt="" class="network"> 
               <p class="head">Messging</p>
            </div>
            <div class="head1">
                <i class="fa-solid fa-bell network" style="color: #000000;"></i>
                <p class="head">Notifications</p>
            </div>
            <div class="head1">
                <p class="head">Me</p>
            </div>
            <div class="vertical_line"></div>
        </div>
    </div>
    <script src="search.js"></script>
</body>
</html>

