<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= username %>&nbsp;|&nbsp;LinkedIn</title>
    <link rel="shortcut icon" href="https://images.rawpixel.com/image_png_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjk4Mi1kNS0xMF8xLnBuZw.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/skills.css">
</head>
<body>
    <div class="skillDiv">
        <h3 class="skillHead">Skills</h3>
        <% for( let index = 0; index<2; index++ ) { %>
            <h3 class="skill"><%= data.skills[index] %></h3>
            <hr class="line">
        <% } %>
        <button class="skillBtn" onclick="location.href='/ln/<%= username %>/skillsAll.ejs'">Show all Skills &rarr;</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    <script src="skillsAll.js"></script>
    <script src="search.js"></script>
</body>
</html>